// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

html {
    --sidebar-bg: #f4f4f5;
    --sidebar-item-color: #616161;
    --sidebar-item-active-color: #3f3f3f;
    --sidebar-item-active-bg: #e3e3e3;
}