version: '3'
services:

  #PHP Service
  app:
    build:
      context: .
      dockerfile: server.Dockerfile
    image: php:8.1-apache
    container_name: app
    restart: unless-stopped
    tty: true
    ports:
      - "3000:80"
      - "443:443"
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
      - /var/www/html/vendor
    networks:
      - app-network
  #MySQL Service
  db:
    image: mysql:5.7.22
    container_name: db
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: your_mysql_root_password
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - dbdata:/var/lib/mysql/
      - ./mysql/my.cnf:/etc/mysql/my.cnf
    networks:
      - app-network

  # front-end
  ui:
    build:
      context: .
      dockerfile: ui.dev.Dockerfile
    working_dir: /app
    volumes:
      - ./src:/app
      - /app/node_modules
    tty: true
  
#Docker Networks
networks:
  app-network:
    driver: bridge
#Volumes
volumes:
  dbdata:
    driver: local
