.sidebar {
    background-color: var(--sidebar-bg);
    border-right: 1px solid var(--sidebar-item-active-bg);

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .nav-item {
        list-style: none;
        padding: 5px 10px;
        width: 100%;
    }

    .nav-link {
        display: flex;
        width: 100%;
        border-radius: 6px;
        color: var(--sidebar-item-color);
        align-items: center;

        .icon {
            font-size: 16px;
        }


        &.active {
            background-color: var(--sidebar-item-active-bg);
            color: var(--sidebar-item-active-color);
        }
    }
}
