// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@blueprintjs/table/lib/css/table.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~@shoelace-style/shoelace/dist/themes/light.css";
@import "./sidebar";
@import "./header";
@import "./dropdown";

#app {
    height: 100vh;
    overflow: hidden;
    display: grid; 
    grid-template-columns: 200px 1fr; 
    grid-template-rows: 50px 1fr; 
    gap: 0px 0px;
    grid-template-areas: 
      "header header"
      "sidebar content"; 
}
.header { grid-area: header; }
.sidebar {
    grid-area: sidebar;
    overflow-y: auto;
}
.content {
    grid-area: content;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
}